@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
@import "variables.css";
/*Components*/
@import "components/status-bar.css";
@import "Components/navigation-bar.css";
@import "Components/screen-header.css";
@import "Components/user-component.css";
@import "Components/badge.css";
@import "Components/point.css";
/*Screenshots*/
@import "screens/login.css";
@import "screens/friends.css";
body{
    color:#2e363e;
    font-family: 'Open Sans', sans-serif;
}

.main-screen{
    padding : 0px var(--horizonal-space);
}